.nav-Wrapper{
  position: relative;
  opacity: 0.5;
}
.bg-light{
  background-color:rgba(0,0,0,0.8)!important;
  color: white;
}
.navbar-light .navbar-brand{
  color: white!important;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.navlogo{
  height:50px;
  width:50px;
}
.icon-font{
  font-size:30px;
}
.search{
  position:relative;
}
.icon-search{
  color:lightgray;
  position:absolute;
  top:10px;
  right:40px;
}

