<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 mt-4">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <form [formGroup]="passwordForm" (ngSubmit)="reset()">
              <label>Email:</label>
              <input placeholder="enter you email" class="form-control"
                     name="email" formControlName="email" id="email">
              <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
